[Unit]
Description=uWSGI Emperor service

[Service]
ExecStartPre=/bin/bash -c 'chown root:www-data /home/tq/xagent_server'
ExecStart=/usr/local/bin/uwsgi --emperor /etc/uwsgi/sites
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target

